{% extends 'base.html.twig' %}

{% block title %}Walk search result{% endblock %}

{% block body %}

    <h3>Upcoming dog walks in {{ville}}: </h3>
    <div class="walks">

        {% for balade in resultatsBalades %}
            
            <a href="{{ path('show_balade', {'id': balade.id}) }}" aria-label="go to the walk's info page">
                <div class="walk">
                    <p>{{ balade }}</p>
                    <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ balade.dateHeureDepart | date('j F Y H:i') }}</p>
                    <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ balade.ville }}</p>
                    <p><i class="fa-solid fa-person-hiking fa-xs"></i> : {{ balade.organisateur }}</p>
                </div>
            </a>

        {% endfor %}
    </div>

    {# display balade results location on map #}
    <div id="map_show_results" style="height: 400px; width:500px;">
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {

            var results = {{ resultatsBalades|json_encode }};
            var mapDiv = document.getElementById('map_show');
            var map = L.map('map_show_results');

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            //for (result in results) {
            console.log(results[0].nom);
            //var latitude = results[0].latitude;
            //var longitude = results[0].longitude;
            //L.marker([ latitude , longitude ]).addTo(map);
            //}

            //map.setView([ latitude , longitude ], 12);
    
            
    
            
                
    });
</script>
{% endblock %}