{% extends 'base.html.twig' %}

{% block title %}Balade page{% endblock %}

{% block body %}

    <a href="{{ path('edit_balade', {'id': balade.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
    <a href="{{ path('delete_balade', {'id': balade.id}) }}" onclick="return confirm('delete balade ?')"><i class="fa-solid fa-trash fa-lg"></i></a>
    <div>
        <h2>{{balade.nom}}</h2>
        {{balade.ville}}
        {{balade.dateHeureDepart | date('d-m-Y H:i')}}
        {{balade.description}}

        <h3>Participants</h3>
        {% for personne in balade.personnes|sort((a, b) => a.pseudo <=> b.pseudo) %}
            <tr>
                <td><a href="{{ path('show_personne', {'id': personne.id}) }}">{{ personne }}</a></td>
            </tr>  
        {% endfor %}
    </div>
   

{% endblock %}