{% extends 'base.html.twig' %}

{% block title %}Balade page{% endblock %}

{% block body %}
    
    {% if app.user == balade.organisateur %}
        <a href="{{ path('edit_balade', {'id': balade.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
        <a href="{{ path('delete_balade', {'id': balade.id}) }}" onclick="return confirm('delete balade ?')"><i class="fa-solid fa-trash fa-lg"></i></a>
    {% endif %}
   
    {% if app.user in balade.personnes %}
        <a href="{{ path('remove_personne_balade', {'balade_id': balade.id , 'personne_id': app.user.id}) }}">se désinscrire</a>
    {% endif %}

    {% if app.user not in balade.personnes %}
        <a href="{{ path('enlist_personne_balade', {'balade_id': balade.id , 'personne_id': app.user.id}) }}">s'inscrire</a>
    {% endif %}
    
    <div>
        <h2>{{balade.nom}}</h2>
        {{balade.ville}}
        {{balade.dateHeureDepart | date('d-m-Y H:i')}}
        {{balade.description}}

        <h3>Participants</h3>
        {% for personne in balade.personnes|sort((a, b) => a.pseudo <=> b.pseudo) %}
            <tr>
                <td><a href="{{ path('show_personne', {'id': personne.id}) }}">{{ personne }}</a></td>
            </tr>  
        {% endfor %}
    </div>
   

{% endblock %}