{% extends 'base.html.twig' %}

{% block title %}Walk's info page{% endblock %}

{% block meta_description %}
<meta name="description" content="See a walk's general information and participants with the possiblity to register or unregister">
{% endblock %}

{% block body %}
    
    {#if user is organiser, can edit/delete walk#}
    {% if app.user == balade.organisateur %}
        <a href="{{ path('edit_balade', {'id': balade.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
        <a href="{{ path('delete_balade', {'id': balade.id}) }}" onclick="return confirm('delete balade ?')"><i class="fa-solid fa-trash fa-lg"></i></a>
    {% endif %}
    
    {#show walk info#}
    <div>
        {# title #}
        <h2>{{balade.nom}} by <a href="{{ path('show_personne', {'id': balade.organisateur.id}) }}">{{ balade.organisateur }}</a></h2>
        
        {#if user is one of this walk's participants can unlist#}
        {% if app.user in balade.personnes %}
            <a href="{{ path('remove_personne_balade', {'balade_id': balade.id , 'personne_id': app.user.id}) }}" class="button">unlist</a>
        {% endif %}


        {#if user is not one of this walk's participants and isn't the organiser can enlist#}
        {% if (app.user not in balade.personnes) and (app.user != balade.organisateur) %}
            <a href="{{ path('enlist_personne_balade', {'balade_id': balade.id , 'personne_id': app.user.id})}} " class="button">enlist</a>
        {% endif %}

        {# link to associated topic #}
        {% if (app.user in balade.personnes) or (app.user == balade.organisateur) %}
            <a href="{{ path('show_topic', {'id': balade.topic.id}) }}" class="button">Go to forum topic</a>
        {% endif %}

        <p>When? : {{balade.dateHeureDepart | date('d-m-Y H:i')}}</p>

        <p>{{balade.description}}</p>

            {# display balade location on map #}
            <div id="map_show" style="height: 400px; width:500px;"
                data-latitude ="{{ balade.pointLatitude }}"
                data-longitude ="{{ balade.pointLongitude }}"></div>



        <div class="participant-line">Participants</div>
        <div class="participants">
            {% for personne in balade.personnes|sort((a, b) => a.pseudo <=> b.pseudo) %}
                <a href="{{ path('show_personne', {'id': personne.id}) }}">
                    <div class="user-box">
                        {% if personne.nomImageProfil %}
                            <img src="{{ asset('/images/users/' ~ personne.nomImageProfil) }}" alt="{{ personne ~ "'s profile picture" }}">
                        {% endif %}
                    </div>
                </a>      

            {% endfor %}
        </div>
        
    </div>
   

{% endblock %}