{% extends 'base.html.twig' %}

{% block title %}Dog Walk Information Page - Dog Project{% endblock %}

{% block meta_description %}
    <meta name="description" content="Welcome to the Dog Project, a community for all dog lovers to discuss anything related to man's best friend 
                                        or to meet each other for dog walks or training sessions. This is a dog walk's information page, you can know
                                        where and when it will take place and who's participating">
    <meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, profile page">
{% endblock %}

{% block body %}

    <div class='user-profile-head'>

        <h1>DOG WALK INFORMATION PAGE</h1>
        <p>Learn about this walk's details and see who is participating.</p>
        
        {# link to associated topic #}
        {% if (app.user in balade.personnes) or (app.user == balade.organisateur) %}
            <p><a href="{{ path('show_topic', {'id': balade.topic.id}) }}" class="button">Go to forum topic</a></p>
        {% endif %}
        
        {#if user is organiser, can edit/delete walk#}
        {% if app.user == balade.organisateur %}
            <span class="user-edit-delete">
                <a href="{{ path('edit_balade', {'id': balade.id}) }}" aria-label="edit your dog walk information"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                <a href="{{ path('delete_balade', {'id': balade.id}) }}" onclick="return confirm('delete dog walk ?')" aria-label="delete your dog walk"><i class="fa-solid fa-trash fa-lg"></i></a>
            </span>
        {% endif %}
            {#if user is one of this walk's participants can disenroll#}
            {% if app.user in balade.personnes %}
                <a href="{{ path('remove_personne_balade', {'balade_id': balade.id , 'personne_id': app.user.id}) }}" class="new-dog-button" aria-label="disenroll from walk">DISENROLL</a>
            {% endif %}
            {#if user is not one of this walk's participants and isn't the organiser can enroll#}
            {% if (app.user not in balade.personnes) and (app.user != balade.organisateur) %}
                <a href="{{ path('enlist_personne_balade', {'balade_id': balade.id , 'personne_id': app.user.id})}} " class="new-dog-button" aria-label="enroll to walk">ENROLL</a>
            {% endif %}
    </div>
    
    {#show walk info#}
    <main>
    <div class="event-container">
        <div class="event-container-left">
            <div class="event-information">
                <h2> {{balade.nom}} </h2>

                <p>Organised by <a href="{{ path('show_personne', {'id': balade.organisateur.id}) }}">{{ balade.organisateur }}</a></p>

                <p><i class="fa-solid fa-tree-city"></i> : {{balade.ville}} </p>

                <p><i class="fa-solid fa-calendar-days"></i> : {{balade.dateHeureDepart | date('d-m-Y H:i')}}</p>

                <p><i class="fa-solid fa-circle-info"></i> : {{balade.description}}</p>
            </div>

            <div class="participant-line">Participants</div>
        <div class="participants">
            {% for personne in balade.personnes|sort((a, b) => a.pseudo <=> b.pseudo) %}
                <a href="{{ path('show_personne', {'id': personne.id}) }}">
                    <div class="user-box">
                        {% if personne.nomImageProfil %}
                            <img class="participant-picture" src="{{ asset('/images/users/' ~ personne.nomImageProfil) }}" alt="{{ personne ~ "'s profile picture" }}">
                        {% endif %}
                    </div>
                </a>      

            {% endfor %}
        </div>
        </div>
        <div class="event-container-right">

            {# display balade location on map #}
            <div id="map_show" style="height: 400px; width:500px;"
                data-latitude ="{{ balade.pointLatitude }}"
                data-longitude ="{{ balade.pointLongitude }}">
            </div>

        </div>

        
    </div>

{#Forum part only visible by participants and organiser#}
{% if (app.user in balade.personnes) or (app.user == balade.organisateur) %}
<div class="event-topic">   
<div class="discussion-line">Discussion</div>

    {% if balade.topic.posts is empty %}
    <div class="topic">
        <div class="topic-date">
            <p></p>
        </div>   
        
        <div class="topic-body">         

            <div class="topic-content">
                <p style="text-align: center;">No posts yet</p>
            </div>
        </div>
    </div>

    {% else %}
    {% for post in balade.topic.posts | sort((a, b) => a.dateCreation <=> b.dateCreation) %}
        <div class="topic">

            <div class="topic-date">
                {{post.dateCreation | date('d-m-Y H:i:s')}}
                {#if user is post auteur, can edit/delete post#}
                {% if app.user == post.auteur %}
                    <span>
                        <a href="{{ path('delete_post', {'id': post.id}) }}" onclick="return confirm('delete post ?')" aria-label="delete post"><i class="fa-solid fa-trash fa-lg"></i></a>
                        <a href="{{ path('edit_post',  {'topic_id': balade.topic.id, 'id': post.id}) }}" aria-label="edit post content"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                    </span>
                {% endif %}
            </div>

            <div class="topic-body">
                {% if post.auteur is empty %}
                    <div class="topic-user">
                        <img class="topic-picture" src="{{ asset('/images/users/profile_picture_default.jpg') }}" alt="picture of a dog, default picture for deleted users">
                        {{ 'deleted' }}
                    </div>    
                {% else %}
                    <div class="topic-user">
                        <a href="{{ path('show_personne', {'id': post.auteur.id}) }}" aria-label="{{ "go to " ~ post.auteur ~ "'s profile page" }}">
                            <img class="topic-picture" src="{{ asset('/images/users/' ~ post.auteur.nomImageProfil) }}" alt="{{ post.auteur ~ "'s profile picture" }}">
                        </a>
                        <a href="{{ path('show_personne', {'id': post.auteur.id}) }}" aria-label="{{ "go to " ~ post.auteur ~ "'s profile page" }}">
                            {{post.auteur}}
                        </a>
                    </div>
                {% endif %}

                <div class="topic-content">
                    <p>{{post}}</p>
                </div>

            </div>
        </div>
    
    {% endfor %}
    {% endif %}
</div>
{% endif %}
</main>

    

<script>
    document.addEventListener('DOMContentLoaded', function () {

        //
            var mapDiv = document.getElementById('map_show');
            var latitude = parseFloat(mapDiv.dataset.latitude);
            var longitude = parseFloat(mapDiv.dataset.longitude);
    
    
            var map = L.map('map_show').setView([ latitude , longitude ], 12);
    
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
    
            L.marker([ latitude , longitude ]).addTo(map);
                
    });
</script>

{% endblock %}