{% extends 'base.html.twig' %}

{% block title %}Dog Project Log in Page{% endblock %}

{% block meta_description %}
<meta name="description" content="This site's login page. One can also get to the register or reset password pages">
<meta name="keywords" content="login, dog project, dog, dog trainers near me, dog walks near me, dog owners community">
{% endblock %}

{% block body %}

    <main class="login-container">
        
        <div class="form-container">
          
            <h1>Sign In <i class="fa-solid fa-paw"></i></h1>
          
            <form method="post" class="login-form">
            
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
    
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}


                <label for="inputEmail"><b>Email : </b></label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Enter email" class="form-control" autocomplete="username" required autofocus>

                <label for="inputPassword"><b>Password : </b></label>
                <input type="password" name="password" id="inputPassword" placeholder="Enter password" class="form-control" autocomplete="current-password" required>
            
                
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                
                <button class="login-button" type="submit">Sign In</button>

            </form>

            <div class="login-foot-container">

                <p><a href="{{ path('app_forgot_password_request') }}">forgot password?</a></p>

                <p>no account? <a href="{{ path('app_register')}}">sign up!</a></p>
                    
            </div>

        </div>

        
    </main>

{% endblock %}
