{% extends 'base.html.twig' %}


{% block title %}Add session{% endblock %}

{% block body %}

    <div class="session-form-page">
    
        <h1> Add/Edit session info </h1>

        <hr>
        <div class="session-form">
            {{ form_start(formAddSeance) }}

                {{ form_row(formAddSeance.nom) }}
                {{ form_row(formAddSeance.dateHeureDepart) }}
                {{ form_row(formAddSeance.ville) }}
                {{ form_row(formAddSeance.description) }}
                {{ form_row(formAddSeance.theme) }}

            <div id="map_add_seance" style="height: 300px;  width:300px;"></div>
                <div class="hidden">
                    {{ form_row(formAddSeance.pointLatitude) }}
                    {{ form_row(formAddSeance.pointLongitude) }}
                </div>
            {{ form_end(formAddSeance) }}
        </div>



{% endblock %}
