{% extends 'base.html.twig' %}

{% block title %}Session page{% endblock %}

{% block body %}

    {#if user is organiser, can edit/delete session#}
    {% if app.user == seance.organisateur %}
        <a href="{{ path('edit_seance', {'id': seance.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
        <a href="{{ path('delete_seance', {'id': seance.id}) }}" onclick="return confirm('delete seance ?')"><i class="fa-solid fa-trash fa-lg"></i></a>
    {% endif %}

    {#if user is one of this session's participants can unlist#}
    {% if app.user in seance.participants %} 
        <a href="{{ path('remove_personne_seance', {'seance_id': seance.id , 'personne_id': app.user.id}) }}">unlist</a>
    {% endif %}


    {#if user is not one of this session's participants and isn't the organiser can enlist#}
    {% if (app.user not in seance.participants) and (app.user != seance.organisateur) %}
        <a href="{{ path('enlist_personne_seance', {'seance_id': seance.id , 'personne_id': app.user.id}) }}">enlist</a>
    {% endif %}

    {#show session info#}
    <div>
        {# title #}
        <h2>{{seance.nom}} by <a href="{{ path('show_personne', {'id': seance.organisateur.id}) }}">{{ seance.organisateur }}</a></h2>

        {# link to associated topic #}
        {% if (app.user in seance.participants) or (app.user == seance.organisateur) %}
            <a href="{{ path('show_topic', {'id': seance.topic.id}) }}">Go to forum topic</a>
        {% endif %}

        {# info #}
        <p>When? : {{seance.dateHeureDepart | date('d-m-Y H:i')}}</p>
        <p>{{seance.description}}</p>
        {% if seance.theme is not empty %}
            <p>Theme : {{seance.theme}}</p>
        {% endif %}

            {# display session location on map #}
            <div id="map_show" style="height: 400px; width:500px;"
                data-latitude ="{{ seance.pointLatitude }}"
                data-longitude ="{{ seance.pointLongitude }}"></div>



                
        <h3>Participants</h3>
        {% for personne in seance.participants|sort((a, b) => a.pseudo <=> b.pseudo) %}
            <tr>
                <td><a href="{{ path('show_personne', {'id': personne.id}) }}">{{ personne }}</a></td>
                
                {#if user is the organiser, option to remove participants#}
                {% if app.user == seance.organisateur %} 
                    <td><a href="{{ path('remove_personne_seance', {'seance_id': seance.id , 'personne_id': personne.id}) }}"><i class="fa-regular fa-square-minus"></i></a></td>
                {% endif %}
            </tr>  
        {% endfor %}
    </div>
   

{% endblock %}