{% extends 'base.html.twig' %}

{% block title %}Training Session Information Page - Walk&Train{% endblock %}

{% block meta_description %}
    <meta name="description" content="Welcome to Walk&Train, a community for all dog lovers to discuss anything related to man's best friend 
                                        or to meet each other for dog walks or training sessions. This is a training session's information page, you can know
                                        where and when it will take place and who's organising and participating">
    <meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, profile page">
{% endblock %}

{% block body %}
<main class="event-info-page">
    <h1 class="event-name"> {{seance.nom}} </h1>

            {#if user is one of this session's participants can disenroll#}
            {% if app.user in seance.participants %}
                <a href="{{ path('remove_personne_seance', {'seance_id': seance.id , 'personne_id': app.user.id}) }}" class="event-join" aria-label="disenroll from session"><i class="fa-solid fa-user-minus"></i> Quit</a>
            {% endif %}
            {#if user is not one of this session's participants and isn't the organiser can enroll#}
            {% if (app.user not in seance.participants) and (app.user != seance.organisateur) %}
                <a href="{{ path('enlist_personne_seance', {'seance_id': seance.id , 'personne_id': app.user.id})}} " class="event-join" aria-label="enroll to session"><i class="fa-solid fa-user-plus"></i> Join</a>
            {% endif %}

    <section class="event-info">
        
        <section class="event-info-left">

            <p><i class="fa-solid fa-tree-city"></i> : {{seance.ville}} </p>

            <p><i class="fa-solid fa-calendar-days"></i> : {{seance.dateHeureDepart | date('d F Y - H:i')}}</p>

            {% if seance.theme is not empty %}
                <p><i class="fa-solid fa-puzzle-piece"></i> : {{seance.theme}}</p>
            {% endif %}

            <p><i class="fa-solid fa-circle-info"></i> : {{seance.description}}</p>

            
        </section>

        
            {#if user is organiser, can edit/delete session#}
            {% if app.user == seance.organisateur %}
            <section class="event-info-right">
                <h2>Options</h2>
                <a href="{{ path('edit_seance', {'id': seance.id}) }}" class="event-edit" aria-label="edit your training session information"><i class="fa-solid fa-pen-to-square fa-lg"></i> Edit session information</a>
                <a href="{{ path('delete_seance', {'id': seance.id}) }}" class="event-delete" onclick="return confirm('delete training session ?')" aria-label="delete your training session"><i class="fa-solid fa-trash fa-lg"></i> Delete session</a>
            {% else %}
            <section class="event-info-right-trainer">
                <h2>Organizer :</h2>
                <section class="trainer-card">
                    <div class="trainer-icon-name">
                        <img src="{{ asset('/images/users/' ~ seance.organisateur.nomImageProfil) }}" class="organiser-icon" alt="{{ seance.organisateur ~ "'s profile picture" }}">
                        <p>{{seance.organisateur}}</p>
                    </div>
                    <p class="trainer-description">{{seance.organisateur.description}}</p>
                    <a href="{{ path('show_personne', {'id': seance.organisateur.id}) }}" class="go-trainer-profile">See profile >></a>
                </section>
            {% endif %}
        </section>
        
    </section>

    <section class="event-map-participants">
        <section class="event-map">
            <h2>Map</h2>
            {# display seance location on map #}
            <div id="map_show"
                data-latitude ="{{ seance.pointLatitude }}"
                data-longitude ="{{ seance.pointLongitude }}">
            </div>
        </section>

        <section class="event-participants">
            <h2>Participants</h2>
            <div class="participants">
                {% for personne in seance.participants|sort((a, b) => a.pseudo <=> b.pseudo) %}
                    <a href="{{ path('show_personne', {'id': personne.id}) }}">
                        <article class="participant">
                            <img class="participant-picture" src="{{ asset('/images/users/' ~ personne.nomImageProfil) }}" alt="{{ personne ~ "'s profile picture" }}">
                        </article>
                    </a>      
                {% endfor %}
            </div>
        </section>
    </section>

    {#Forum part only visible by participants and organiser#}
    {% if (app.user in seance.participants) or (app.user == seance.organisateur) %}
        <section class="event-topic">
            <h2>Discussion</h2>
            <a href="{{ path('show_topic', {'id': seance.topic.id}) }}" class="event-topic-link">Go to forum topic</a>

            {% if seance.topic.posts is empty %}
                <p class="empty-topic">No posts yet :(</p>
            {% else %}
                {% for post in seance.topic.posts | sort((a, b) => a.dateCreation <=> b.dateCreation) %}
                    <article class="post">
                        <div class="post-header">
                            {% if post.auteur is empty %}
                                <div class="post-author-icon">
                                    <img src="{{ asset('/images/users/profile_picture_default.jpg') }}" alt="picture of a dog, default picture for deleted users">
                                </div>
                                <div class="post-author-info">
                                    <p>deleted user</p>
                                </div>
                            {% else %}
                                <div class="post-author-icon">
                                    <a href="{{ path('show_personne', {'id': post.auteur.id}) }}" aria-label="{{ "go to " ~ post.auteur ~ "'s profile page" }}">
                                        <img src="{{ asset('/images/users/' ~ post.auteur.nomImageProfil) }}" class="author-icon" alt="{{ post.auteur ~ "'s profile picture" }}">
                                    </a>
                                </div>
                                <div class="post-author-info">
                                    <p>{{post.auteur}}</p>
                                    <p>{{post.dateCreation | date('d-m-Y H:i:s')}}</p>
                                    <p></p>
                                </div>
                            {% endif %}
                        </div>
                        <p class="post-body">{{post}}</p>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    {% endif %}
</main>
    
    <script>

    document.addEventListener('DOMContentLoaded', function () {

        //
            var mapDiv = document.getElementById('map_show');
            var latitude = parseFloat(mapDiv.dataset.latitude);
            var longitude = parseFloat(mapDiv.dataset.longitude);
    
    
            var map = L.map('map_show').setView([ latitude , longitude ], 12);
    
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
    
            L.marker([ latitude , longitude ]).addTo(map);
                
    });
</script>
{% endblock %}