{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block meta_description %}
<meta name="description" content="This is the reset password form page. Ask the user's email address to send them a reset password email">
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="reset-password-container">
        
        <div class="reset-password-form-container">
          
            <h1>Reset Your Password <i class="fa-solid fa-paw"></i></h1>
          
            <form method="post" class="reset-password-form">

                {{ form_start(requestForm) }}

                    {{ form_label(requestForm.email) }}
                    {{ form_widget(requestForm.email) }}


                    {{ form_widget(requestForm.submit) }}

                {{ form_end(requestForm) }}
                
                
            </form>

            <div class="reset-password-foot-container">

                <p>Enter your email address, and we will send you a link to reset your password.</p>
                <p>Go back to <a href="{{ path('app_login')}}">login page</a></p>
                    
            </div>

            

        </div>

        
    </div>
{% endblock %}
