{% extends 'base.html.twig' %}

{% block title %}Choose a new password{% endblock %}

{% block meta_description %}
<meta name="description" content="This is the page users land on clicking the link in the email to choose a new password">
<meta name="robots" content="noindex">
{% endblock %}

{% block body %}

    <div class="reset-password-container">
        
        <div class="reset-password-form-container">
          
            <h1>Choose your new password <i class="fa-solid fa-paw"></i></h1>
          
            <form method="post" class="reset-password-form">

                {{ form_start(resetForm) }}

                {{ form_label(resetForm.plainPassword.first) }}
                {{ form_widget(resetForm.plainPassword.first) }}

                {{ form_label(resetForm.plainPassword.second) }}
                {{ form_widget(resetForm.plainPassword.second) }}


                <button>Reset Password</button>

                {{ form_end(resetForm) }}
                
                
            </form>    

        </div>    
    </div>
{% endblock %}
