    <footer class="footer mt-auto">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-4">
            <h3>Useful Links</h3>
            <ul class="footer-links">
              <li><a href="{{ path('show_personne', {'id': app.user.id}) }}">Your Profile</a></li>
            <li><a href="{{ path('app_recherche') }}">Search for an Event</a></li>
            <li><a href="{{ path('new_balade') }}">Create a Walk</a></li>
            <li><a href="{{path('app_privacy_policy')}}"  aria-label="open in new tab privacy policy page" target="_blank">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Forum Categories</h3>
            <ul class="footer-links">
              {% for categorie in categories %}
                {% if (categorie.nom != 'Walks') and (categorie.nom != 'Sessions') %}
                    <li><a href="{{ path('show_categorie', {'id': categorie.id}) }}" aria-label="{{ "go to " ~ categorie ~ "'s list of topics" }}">{{ categorie }}</a>
                {% endif %}
              {% endfor %}  
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Contact Us</h3>
            <p>Email: walk&train@example.com</p>
            <p>Phone: 06 06 06 06 06</p>
          </div>
        </div>
        <p>&copy; 2023 Walk&Train. All Rights Reserved.</p>
      </div>
    </footer>

