{% extends 'base.html.twig' %}

{% block title %}Edit your Info - Dog Project{% endblock %}

{% block meta_description %}
    <meta name="description" content="Welcome to the Dog Project, a community for all dog lovers to discuss anything related to man's best friend 
                                        or to meet each other for dog walks or training sessions. This is the page for users to edit their information">
    <meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, forum">
{% endblock %}

{% block body %}

    <div class="register-container">
        
        <div class="register-form-container">
          
            <h1>Your Information Page <i class="fa-solid fa-paw"></i></h1>
          

                {{ form_start(formAddPersonne) }}

                    {{ form_label(formAddPersonne.email) }}
                    {{ form_widget(formAddPersonne.email) }}

                    {{ form_label(formAddPersonne.pseudo) }}
                    {{ form_widget(formAddPersonne.pseudo) }}

                    {{ form_label(formAddPersonne.description) }}
                    {{ form_widget(formAddPersonne.description, {
                        'id': 'text_post_edit'}) }}
                    
                    {{ form_label(formAddPersonne.imageProfil) }}
                    {{ form_errors(formAddPersonne.imageProfil) }}
                    {{ form_widget(formAddPersonne.imageProfil) }}
                
                    {{ form_widget(formAddPersonne.submit, { 'attr' : { 'data-label': 'confirm your information editon form' } }) }}

                {{ form_end(formAddPersonne) }}
                
                           

        </div>

        
    </div>

{% endblock %}