{% extends 'base.html.twig' %}

{% block title %} {{personne}}'s profile - Dog Project {% endblock %}


{% block meta_description %}
    <meta name="description" content="Welcome to the Dog Project, a community for all dog lovers to discuss anything related to man's best friend 
                                        or to meet each other for dog walks or training sessions. This is {{personne}}'s profile page, you can see 
                                            their dogs, organised walks and training sessions">
    <meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, profile page">
{% endblock %}


{% block body %}

    <div class='user-profile-head'>

        <h1>{{personne |upper }}'S PROFILE</h1>
        <p>Get to know {{personne}}, their dogs and upcoming events !</p>

        {#if this is the current user's profile can edit his info or delete his profile#}
        {% if (app.user == personne) %}
            <span class="user-edit-delete">
                <a href="{{ path('edit_personne', {'id': personne.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg" aria-label="modify your information information"></i></a>
                <a href="{{ path('delete_personne', {'id': personne.id}) }}" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash fa-lg" aria-label="delete your account"></i></a>
            </span>
            <a href="{{ path('new_chien') }}" class="new-dog-button" aria-label="add a new dog"><i class="fa-solid fa-plus"></i> ADD A NEW DOG</a>
        {% endif %}
        
        {#if user is a super admin can change person's role#}
        {% if is_granted('ROLE_SUPER_ADMIN') %}

            <p><a id="editRoleBtn" class="button">Change role</a></p>

            <div id="myModal" class="modal">

                <div class="modal-content">
                    <span class="close">&times;</span>
                    {% if (personne.roles[0] == 'ROLE_SUPER_ADMIN') %}
                        <p><a href="{{ path('make_user', {'id': personne.id}) }}" onclick="return confirm('Role to user ?')">Edit Role to User</a></p>
                        <p><a href="{{ path('make_admin', {'id': personne.id}) }}" onclick="return confirm('Role to admin ?')">Edit Role to Admin</a></p>
                    {% endif %}

                    {% if (personne.roles[0] == 'ROLE_ADMIN') %}
                        <p><a href="{{ path('make_user', {'id': personne.id}) }}" onclick="return confirm('Role to user ?')">Edit Role to User</a></p>
                        <p><a href="{{ path('make_super_admin', {'id': personne.id}) }}" onclick="return confirm('Role to superAdmin ?')">Edit Role to SuperAdmin</a></p>
                    {% endif %}
                    
                    {% if (personne.roles[0] == 'ROLE_USER') %}
                        <p><a href="{{ path('make_admin', {'id': personne.id}) }}" onclick="return confirm('Role to admin ?')">Edit Role to Admin</a></p>
                        <p><a href="{{ path('make_super_admin', {'id': personne.id}) }}" onclick="return confirm('Role to superAdmin ?')">Edit Role to SuperAdmin</a></p>
                    {% endif %}
                    
                </div>

            </div>

        {% endif %}

    </div>

    {#Person info#}
    <div class="user-container">

        <div class="user-container-left">   
            <img src="{{ asset('/images/users/' ~ personne.nomImageProfil) }}" class="user-profile-picture" alt="{{ personne ~ "'s profile picture" }}">
        </div>

        <div class="user-container-right">
            <p>About {{personne}} : {{personne.description}}</p>

             <h3>{{personne}}'s dog(s)</h3>
            {% for chien in personne.chiens %}
                {# <img src="{{ vich_uploader_asset(chien, 'imageFile') }}" id="myBtn" class="dog-icon" alt="{{ "picture of " ~ chien ~ ", " ~ personne ~ "'s dog" }}"> 
                <button id="myBtn">{{ chien }}</button>
                
                
                <div id="myModal" class="modal">

                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <img style="max-width: 200px;" src="{{ vich_uploader_asset(chien, 'imageFile') }}" class="dog-picture" alt="{{ "picture of " ~ chien ~ ", " ~ personne ~ "'s dog" }}">
                        <p><i class="fa-solid fa-signature"></i> : {{chien.nom}}</p>
                        <p><i class="fa-solid fa-cake-candles"></i> : {{chien.dateNaissance | date('d-m-Y')}}</p>
                        <p><i class="fa-solid fa-circle-info"></i> : {{chien.description}}</p>
                        
                    </div>

                    #}
                    {#if user is dog owner, can edit/delete dog#}
                {# {% if app.user == chien.personne %}
                <a href="{{ path('edit_chien', {'id': chien.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg" aria-label="{{ "edit " ~ chien ~ "'s information" }}"></i></a>
                <a href="{{ path('delete_chien', {'id': chien.id}) }}" onclick="return confirm('Are you sure?')" aria-label="{{ "delete " ~ chien }}"><i class="fa-solid fa-trash fa-lg"></i></a>
            {% endif %}
                </div>

            {% endfor %}  #}
        </div>
    </div>

    


    {#Person's dog(s)#}
    <div class="personne-chien">
        <h3>{{personne.pseudo}}'s dog(s)</h3>
        {% for chien in personne.chiens %}
            <div class="personne-chien">
                <img style="max-width: 200px;" src="{{ vich_uploader_asset(chien, 'imageFile') }}" alt="{{ "picture of " ~ chien ~ ", " ~ personne ~ "'s dog" }}">
                {{chien.nom}}
                {{chien.dateNaissance | date('d-m-Y')}}
                {{chien.description}}
                {#if user is dog owner, can edit/delete dog#}
                {% if app.user == chien.personne %}
                    <a href="{{ path('edit_chien', {'id': chien.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg" aria-label="{{ "edit " ~ chien ~ "'s information" }}"></i></a>
                    <a href="{{ path('delete_chien', {'id': chien.id}) }}" onclick="return confirm('Are you sure?')" aria-label="{{ "delete " ~ chien }}"><i class="fa-solid fa-trash fa-lg"></i></a>
                {% endif %}
                
            </div>
        {% endfor %}
    </div>

    
    {#Sessions person is organising#}
    {% if personne.seancesOrganisees is not empty %}
    <div>
        <h3>sessions (as trainer)</h3>
        <table>
        {% for seance in personne.seancesOrganisees %}
            <tr>
                <td><a href="{{ path('show_seance', {'id': seance.id}) }}" aria-label="go to session's info page">{{ seance }}</a></td>
            </tr>  
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {#Walks person is organising#}
    {% if personne.baladesOrganisees is not empty %}
    <div>
        <h3>walks (as organiser)</h3>
        <table>
        {% for balade in personne.baladesOrganisees %}
            <tr>
                <td><a href="{{ path('show_balade', {'id': balade.id}) }}" aria-label="go to the walk's info page">{{ balade }}</a></td>
            </tr>  
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {#Sessions person is participitating#}
    {% if personne.seancesParticipees is not empty %}
    <div>
        <h3>sessions (as participant)</h3>
        <table>
        {% for seance in personne.seancesParticipees %}
            <tr>
                <td><a href="{{ path('show_seance', {'id': seance.id}) }}" aria-label="go to session's info page">{{ seance }}</a></td>
            </tr>  
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {#Walks person is participitating#}
    {% if personne.balades is not empty %}
    <div>
        <h3>walks (participant)</h3>
        <table>
        {% for balade in personne.balades %}
            <tr>
                <td><a href="{{ path('show_balade', {'id': balade.id}) }}" aria-label="go to the walk's info page">{{ balade }}</a></td>
            </tr>  
        {% endfor %}
        </table>
    </div>
    {% endif %}
    
    <script>
        /*// Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("editRoleBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        */

        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
        modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span1.onclick = function() {
        modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    </script>

{% endblock %}

