{% extends 'base.html.twig' %}

{% block title %} {{personne}}'s profile - Dog Project {% endblock %}


{% block meta_description %}
    <meta name="description" content="Welcome to the Dog Project, a community for all dog lovers to discuss anything related to man's best friend 
                                        or to meet each other for dog walks or training sessions. This is {{personne}}'s profile page, you can see 
                                            their dogs, organised walks and training sessions">
    <meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, profile page">
{% endblock %}


{% block body %}

    <div class='user-profile-head'>

        <h1>{{personne |upper }}'S PROFILE</h1>
        <p>Get to know {{personne}}, their dogs and upcoming events !</p>

        {#if this is the current user's profile can edit his info or delete his profile#}
        {% if (app.user == personne) %}
            <span class="user-edit-delete">
                <a href="{{ path('edit_personne', {'id': personne.id}) }}" aria-label="modify your information information"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                <a href="{{ path('delete_personne', {'id': personne.id}) }}" onclick="return confirm('Are you sure?')" aria-label="delete your account"><i class="fa-solid fa-trash fa-lg"></i></a>
            </span>
            <a href="{{ path('new_chien') }}" class="new-dog-button" aria-label="add a new dog"><i class="fa-solid fa-plus"></i> ADD A NEW DOG</a>
        {% elseif is_granted('ROLE_ADMIN') %}
        <span class="user-edit-delete">
            <a href="{{ path('delete_personne', {'id': personne.id}) }}" onclick="return confirm('Are you sure?')" aria-label="delete this account"><i class="fa-solid fa-trash fa-lg"></i></a>
        </span>
        {% endif %}
        
        
        {#if user is a super admin can change person's role#}
        {% if is_granted('ROLE_SUPER_ADMIN') %}

            <p id="editRole"><a id="roleBtn" class="button1">Change role</a></p>

            <div id="roleModal" class="modal1">

                <div class="modal-content1">
                    <span class="roleClose">&times;</span>
                    {% if (personne.roles[0] == 'ROLE_SUPER_ADMIN') %}
                        <p><a href="{{ path('make_user', {'id': personne.id}) }}" onclick="return confirm('Role to user ?')">Edit Role to User</a></p>
                        <p><a href="{{ path('make_admin', {'id': personne.id}) }}" onclick="return confirm('Role to admin ?')">Edit Role to Admin</a></p>
                    {% endif %}

                    {% if (personne.roles[0] == 'ROLE_ADMIN') %}
                        <p><a href="{{ path('make_user', {'id': personne.id}) }}" onclick="return confirm('Role to user ?')">Edit Role to User</a></p>
                        <p><a href="{{ path('make_super_admin', {'id': personne.id}) }}" onclick="return confirm('Role to superAdmin ?')">Edit Role to SuperAdmin</a></p>
                    {% endif %}
                    
                    {% if (personne.roles[0] == 'ROLE_USER') %}
                        <p><a href="{{ path('make_admin', {'id': personne.id}) }}" onclick="return confirm('Role to admin ?')">Edit Role to Admin</a></p>
                        <p><a href="{{ path('make_super_admin', {'id': personne.id}) }}" onclick="return confirm('Role to superAdmin ?')">Edit Role to SuperAdmin</a></p>
                    {% endif %}
                    
                </div>

            </div>

        {% endif %}

    </div>

    {#Person info#}
    <div class="user-container">

        <div class="user-container-left">   
            <img src="{{ asset('/images/users/' ~ personne.nomImageProfil) }}" class="user-profile-picture" alt="{{ personne ~ "'s profile picture" }}">
            <p style="font-size: small; text-align:center;">Joined : {{ personne.dateCreation | date('j F Y') }}</p>
            <p style="font-size: small; text-align:center;" >Last login : {{ personne.lastLogin | date('j F Y H:i') }}</p>


            {% if latestTopics is not empty %}
            <div id="latestUserTopics">
            <h3 style="text-align: center;">Lastest Topics : </h3>

    {% for topic in latestTopics |sort((b, a) => a.dateCreation <=> b.dateCreation) |slice(0, 3)%}
        <div class="topic-user-profile">

            <div class="topic-date-user">
                <p>{{topic.dateCreation | date('d-m-Y H:i:s')}}</p>
                <p>in "{{topic.categorie}}" category</p>          
                
            </div>

            <div class="topic-content-user">
                <p>{{topic}}</p>
                <a href="{{ path('show_topic', {'id': topic.id}) }}" aria-label="{{ "go to topic's comments" }}">go to topic >></a>
            </div>

        </div>
    {% endfor %}
        </div>  
    {% endif %}
        </div>

        <div class="user-container-center">
            <h3>About {{personne}} : </h3>
            <p>{{personne.description}}</p>

            {#Person's dog(s)#}
            <h3>{{personne}}'s dog(s) : </h3>
            
            {% for chien in personne.chiens %} 
                {% if chien.imageName is empty %}
                <img src="{{ asset('/images/chiens/dog-paw.png') }}" data-toggle="modal" data-target="#myModal{{ loop.index }}" class="dog-icon" alt="{{ "default picture of a paw for " ~ chien ~ ", " ~ personne ~ "'s dog" }}">
                {% else %}
                    <img src="{{ vich_uploader_asset(chien, 'imageFile') }}" data-toggle="modal" data-target="#myModal{{ loop.index }}" class="dog-icon" alt="{{ "picture of " ~ chien ~ ", " ~ personne ~ "'s dog" }}">
                {% endif %}
                <div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-content-container">
                            {% if chien.imageName is not empty %}
                            <div class="modal-content-left">
                                    <img src="{{ vich_uploader_asset(chien, 'imageFile') }}" class="dog-picture" alt="{{ "picture of " ~ chien ~ ", " ~ personne ~ "'s dog" }}">
                            </div>
                            {% endif %}
                            <div class="modal-content-right">

                                    <p><i class="fa-solid fa-signature"></i> : {{chien.nom}}</p>
                                    <p><i class="fa-solid fa-cake-candles"></i> : {{chien.dateNaissance | date('j F Y')}}</p>
                                    <p><i class="fa-solid fa-circle-info"></i> : {{chien.description}}</p>
                            </div>
                        </div>
                            <div class="close-btn">
                                <button type="button" id="modal-close" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">close</span>
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
                    
                {#if user is dog owner, can edit/delete dog#}
                {% if app.user == chien.personne %}
                    <a href="{{ path('edit_chien', {'id': chien.id}) }}" aria-label="{{ "edit " ~ chien ~ "'s information" }}"eza><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                    <a href="{{ path('delete_chien', {'id': chien.id}) }}" onclick="return confirm('Are you sure?')" aria-label="{{ "delete " ~ chien }}"><i class="fa-solid fa-trash fa-lg"></i></a>
                {% endif %}
                

            {% endfor %}

            <h3>Upcoming events : </h3>

            <div class="sessions">
        
                {% for seance in personne.seancesOrganisees %}
                    {% if seance.dateHeureDepart > date() %}
                        <a href="{{ path('show_seance', {'id': seance.id}) }}" aria-label="go to {{seance}}'s info page">
                            <div class="session">
                                <p>{{ seance }}</p>
                                <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ seance.dateHeureDepart | date('j F Y H:i') }}</p>
                                <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ seance.ville }}</p>
                                <p><i class="fa-solid fa-person-walking fa-xs"></i> : organiser</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
        
                {% for seance in personne.seancesParticipees %}
                    {% if seance.dateHeureDepart > date() %}
                        <a href="{{ path('show_seance', {'id': seance.id}) }}" aria-label="go to {{seance}}'s info page">
                            <div class="session">
                                <p>{{ seance }}</p>
                                <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ seance.dateHeureDepart | date('j F Y H:i') }}</p>
                                <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ seance.ville }}</p>
                                <p><i class="fa-solid fa-person-walking fa-xs"></i> : participant</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
        
            </div>
        
        
        
            <div class="walks">
                
        
                {% for balade in personne.baladesOrganisees %}
                    {% if balade.dateHeureDepart > date() %}
                        <a href="{{ path('show_balade', {'id': balade.id}) }}" aria-label="go to the {{balade}}'s info page">
                            <div class="walk">
                                <p>{{ balade }}</p>
                                <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ balade.dateHeureDepart | date('j F Y H:i') }}</p>
                                <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ balade.ville }}</p>
                                <p><i class="fa-solid fa-person-walking fa-xs"></i> : organiser</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
        
                {% for balade in personne.balades %}
                    {% if balade.dateHeureDepart > date() %}
                        <a href="{{ path('show_balade', {'id': balade.id}) }}" aria-label="go to the {{balade}}'s info page">
                            <div class="walk">
                                <p>{{ balade }}</p>
                                <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ balade.dateHeureDepart | date('j F Y H:i') }}</p>
                                <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ balade.ville }}</p>
                                <p><i class="fa-solid fa-person-walking fa-xs"></i> : participant</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if latestTopics is not empty %}
            <div id="latestUserTopicsResponsive">
            <h3 style="text-align: center;">Lastest Topics : </h3>

    {% for topic in latestTopics |sort((b, a) => a.dateCreation <=> b.dateCreation) |slice(0, 3)%}
        <div class="topic-user-profile">

            <div class="topic-date-user">
                <p>{{topic.dateCreation | date('d-m-Y H:i:s')}}</p>
                <p>in "{{topic.categorie}}" category</p>          
                
            </div>

            <div class="topic-content-user">
                <p>{{topic}}</p>
                <a href="{{ path('show_topic', {'id': topic.id}) }}" aria-label="{{ "go to topic's comments" }}">go to topic >></a>
            </div>

        </div>
    {% endfor %}
        </div>  
    {% endif %}
        </div>

    </div>
        

    







    <script>
        
        //Part for the dog modal
        $(document).ready(function(){
            // This script initializes Bootstrap's modal functionality
            $('[data-toggle="modal"]').each(function(){
                $(this).click(function(){
                    var target = $(this).data('target');
                    $(target).modal('show');
                });
            });
        });


        //Part for the role modal
        // Get the modal
        var modal = document.getElementById("roleModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("roleBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("roleClose")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>

{% endblock %}

