{% extends 'base.html.twig' %}

{% block title %} {{personne}}'s profile - Walk&Train {% endblock %}


{% block meta_description %}
    <meta name="description" content="Welcome to Walk&Train, a community for all dog lovers to discuss anything related to man's best friend 
                                        or to meet each other for dog walks or training sessions. This is {{personne}}'s profile page, you can see 
                                            their dogs, organised walks and training sessions">
    <meta name="keywords" content="Walk&Train, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, profile page">
{% endblock %}


{% block body %}
    <main>
        <section class="user-info">

            <div class="user-info-left">
                <img src="{{ asset('/images/users/' ~ personne.nomImageProfil) }}" class="user-image" id="profile-picture" alt="{{ personne ~ "'s profile picture" }}">
                <p class="text-center text-muted small">Joined : {{ personne.dateCreation | date('j F Y') }}</p>
                <p class="text-center text-muted small">Last login : {{ personne.lastLogin | date('j/m/Y H:i') }}</p>
            </div>

            <div class="user-info-center">
                <h1>{{personne}}'s profile </h1>
                <p>{{personne.description}}</p>
            </div>

            {% if (app.user == personne) %}
                <div class="user-info-right">
                    <h2>Edit your profile</h2>
                    <a href="{{ path('edit_personne', {'id': personne.id}) }}" class="profile-edit" aria-label="modify your profile information"><i class="fa-solid fa-pen-to-square fa-lg"></i> Edit your profile information</a>
                    <a href="{{ path('delete_personne', {'id': personne.id}) }}" class="profile-delete" onclick="return confirm('Are you sure?')" aria-label="delete your account"><i class="fa-solid fa-trash fa-lg"></i> Delete your account</a>
                </div>
            {% endif %}

        </section>

        <section class="user-dogs">
            
            <h2>{{personne}}'s dog(s)</h2>

            {# Link for user to add a new dog #}
            {% if (app.user == personne) %}
                <a href="{{ path('new_chien') }}" class="new-dog" aria-label="add a new dog"><i class="fa-solid fa-plus"></i> Add a new dog</a>
            {% endif %}

            {# Loop through and display person's dogs #}
            <section class="dogs">
                {% for chien in personne.chiens %}
                    <article class="dog-card">

                        <div class="img-container">
                        {% if chien.imageName is empty %}
                            <img src="{{ asset('/images/chiens/dog-paw.png') }}" class="dog-image" alt="{{ "default picture of a paw for " ~ chien ~ ", " ~ personne ~ "'s dog" }}">
                        {% else %}
                            <img src="{{ vich_uploader_asset(chien, 'imageFile') }}" class="dog-image" alt="{{ "picture of " ~ chien ~ ", " ~ personne ~ "'s dog" }}">
                        {% endif %}
                        </div>

                        

                        <div class="dog-info">
                            <h3>{{chien.nom}}</h3>

                            {# calculate dog age #}
                            {% set age = date().diff(date(chien.dateNaissance)).y %}

                            <p class="text-muted small">{{age}} year(s) old</p>
                            <p class="small">{{chien.description}}</p>
                            
                        </div>

                        {#if user is dog owner, can edit/delete dog#}
                        <div class="dog-edit-delete">
                            {% if app.user == chien.personne %}
                                <a href="{{ path('edit_chien', {'id': chien.id}) }}" class="dog-edit" aria-label="{{ "edit " ~ chien ~ "'s information" }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                                <a href="{{ path('delete_chien', {'id': chien.id}) }}" class="dog-delete" onclick="return confirm('Are you sure?')" aria-label="{{ "delete " ~ chien }}"><i class="fa-solid fa-trash fa-lg"></i></a>
                            {% endif %}
                        </div>
                        
                    </article> 
                {% endfor %}
                </section>
        </section>

        <section class="user-events">
            <h2>Upcoming events</h2>

            {# Links to create Walk or Training Session #}
            <section class="new-events">
                {% if (app.user == personne) %}
                    <a href="{{ path('new_balade') }}" class="new-event"><i class="fa-solid fa-plus"></i> Create Walk</a>
                {% if app.user.isEducateur %} 
                    <a href="{{ path('new_seance') }}" class="new-event"><i class="fa-solid fa-plus"></i> Create Training Session</a>
                {% endif %}
            {% endif %}
            </section>
            
            <section class="events">

                {# Training sessions (as organiser) #}
                {% for seance in personne.seancesOrganisees %}
                    {% if seance.dateHeureDepart > date() %}
                        <a href="{{ path('show_seance', {'id': seance.id}) }}" aria-label="go to {{seance}}'s info page">
                            <article class="session">
                                <p><b>{{ seance }}</b></p>
                                <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ seance.dateHeureDepart | date('j F Y H:i') }}</p>
                                <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ seance.ville }}</p>
                                <p><i class="fa-solid fa-person-walking fa-xs"></i> : organiser</p>
                            </article>
                        </a>
                    {% endif %}
                {% endfor %}
            
                {# Training sessions (as participant) #}
                {% for seance in personne.seancesParticipees %}
                    {% if seance.dateHeureDepart > date() %}
                        <a href="{{ path('show_seance', {'id': seance.id}) }}" aria-label="go to {{seance}}'s info page">
                            <article class="session">
                                <p><b>{{ seance }}</b></p>
                                <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ seance.dateHeureDepart | date('j F Y H:i') }}</p>
                                <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ seance.ville }}</p>
                                <p><i class="fa-solid fa-person-walking fa-xs"></i> : participant</p>
                            </article>
                        </a>
                    {% endif %}
                {% endfor %}
            
                {# Walks (as organiser) #}
                {% for balade in personne.baladesOrganisees %}
                    {% if balade.dateHeureDepart > date() %}
                        <a href="{{ path('show_balade', {'id': balade.id}) }}" aria-label="go to the {{balade}}'s info page">
                            <article class="walk">
                                <p><b>{{ balade }}</b></p>
                                <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ balade.dateHeureDepart | date('j F Y H:i') }}</p>
                                <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ balade.ville }}</p>
                                <p><i class="fa-solid fa-person-walking fa-xs"></i> : organiser</p>
                            </article>
                        </a>
                    {% endif %}
                {% endfor %}
            
                {# Walks (as participant) #}
                {% for balade in personne.balades %}
                    {% if balade.dateHeureDepart > date() %}
                        <a href="{{ path('show_balade', {'id': balade.id}) }}" aria-label="go to the {{balade}}'s info page">
                            <article class="walk">
                                <p><b>{{ balade }}</b></p>
                                <p><i class="fa-solid fa-calendar-days fa-xs"></i> : {{ balade.dateHeureDepart | date('j F Y H:i') }}</p>
                                <p><i class="fa-solid fa-tree-city fa-xs"></i> : {{ balade.ville }}</p>
                                <p><i class="fa-solid fa-person-walking fa-xs"></i> : participant</p>
                            </article>
                        </a>
                    {% endif %}
                {% endfor %}
            </section>
            
        </section>

        <section class="user-forum-activity">
            <h2>Latest topics</h2>

            {% if latestTopics is not empty %}
                {% for topic in latestTopics |sort((b, a) => a.dateCreation <=> b.dateCreation) |slice(0, 3)%}
                    <article class="user-topic">
                        <div class="topic-header">
                            <p>in <span class="categorie-name">{{topic.categorie}}</span></p>
                            <p>{{topic.dateCreation | date('d-m-Y H:i:s')}}</p>
                        </div>
                        <p>{{topic}}</p>
                        <a href="{{ path('show_topic', {'id': topic.id}) }}" class="topic-link" aria-label="{{ "go to topic's comments" }}">go to topic >></a>
                    </article>
                {% endfor %}
            {% else %}
                <p>no topics yet</p>
            {% endif %}

        </section>
    </main>

    {# 
        ADMIN PART
        
        <div class='user-profile-head'>


        
        

        {% if is_granted('ROLE_SUPER_ADMIN') %}

            <p id="editRole"><a id="roleBtn" class="button1">Change role</a></p>

            <div id="roleModal" class="modal1">

                <div class="modal-content1">
                    <span class="roleClose">&times;</span>
                    {% if (personne.roles[0] == 'ROLE_SUPER_ADMIN') %}
                        <p><a href="{{ path('make_user', {'id': personne.id}) }}" onclick="return confirm('Role to user ?')">Edit Role to User</a></p>
                        <p><a href="{{ path('make_admin', {'id': personne.id}) }}" onclick="return confirm('Role to admin ?')">Edit Role to Admin</a></p>
                    {% endif %}

                    {% if (personne.roles[0] == 'ROLE_ADMIN') %}
                        <p><a href="{{ path('make_user', {'id': personne.id}) }}" onclick="return confirm('Role to user ?')">Edit Role to User</a></p>
                        <p><a href="{{ path('make_super_admin', {'id': personne.id}) }}" onclick="return confirm('Role to superAdmin ?')">Edit Role to SuperAdmin</a></p>
                    {% endif %}
                    
                    {% if (personne.roles[0] == 'ROLE_USER') %}
                        <p><a href="{{ path('make_admin', {'id': personne.id}) }}" onclick="return confirm('Role to admin ?')">Edit Role to Admin</a></p>
                        <p><a href="{{ path('make_super_admin', {'id': personne.id}) }}" onclick="return confirm('Role to superAdmin ?')">Edit Role to SuperAdmin</a></p>
                    {% endif %}
                    
                </div>

            </div>

        {% endif %}

    </div> #}

   
        
{% endblock %}

