{% extends 'base.html.twig' %}

{% block title %}User account{% endblock %}

{% block body %}    
    <div>
        <h2>{{personne.pseudo}}'s page</h2>
        <a href="{{ path('edit_personne', {'id': personne.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
        <a href="{{ path('delete_personne', {'id': personne.id}) }}" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash fa-lg"></i></a>
        {{personne.description}}
    </div>

    <div class="personne-chien">
        <h3>{{personne.pseudo}}'s dog(s)</h3>
        {% for chien in personne.chiens %}
            <div class="personne-chien">
                <img style="max-width: 200px;" src="{{ vich_uploader_asset(chien, 'imageFile') }}">
                {{chien.nom}}
                {{chien.dateNaissance | date('d-m-Y')}}
                {{chien.description}}
                <a href="{{ path('edit_chien', {'id': chien.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                <a href="{{ path('delete_chien', {'id': chien.id}) }}" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash fa-lg"></i></a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h3>walks (participant)</h3>
        {% for balade in personne.balades %}
            <tr>
                <td><a href="{{ path('show_balade', {'id': balade.id}) }}">{{ balade }}</a></td>
            </tr>  
        {% endfor %}
    </div>

    <div>
        <h3>walks (as organiser)</h3>
        {% for balade in personne.baladesOrganisees %}
            <tr>
                <td><a href="{{ path('show_seance', {'id': sbalade.id}) }}">{{ balade }}</a></td>
            </tr>  
        {% endfor %}
    </div>

    <div>
        <h3>sessions (as participant)</h3>
        {% for seance in personne.seancesParticipees %}
            <tr>
                <td><a href="{{ path('show_seance', {'id': seance.id}) }}">{{ seance }}</a></td>
            </tr>  
        {% endfor %}
    </div>
    
    <div>
        <h3>sessions (as trainer)</h3>
        {% for seance in personne.seancesOrganisees %}
            <tr>
                <td><a href="{{ path('show_seance', {'id': seance.id}) }}">{{ seance }}</a></td>
            </tr>  
        {% endfor %}
    </div>

{% endblock %}