{% extends 'base.html.twig' %}

{% block title %} {{personne}}'s profile {% endblock %}

{% block meta_description %}
<meta name="description" content="{{personne}}'s profile information, dogs and organised walks and training sessions">
{% endblock %}

{% block body %}
    
    {#if user is a super admin can change person's role#}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="roles">
            <a href="{{ path('make_user', {'id': personne.id}) }}">make user</a>
            <a href="{{ path('make_admin', {'id': personne.id}) }}">make admin</a>
            <a href="{{ path('make_super_admin', {'id': personne.id}) }}">make super admin</a>
        </div>  
    {% endif %}

    {#if this is the current user's profile can edit his info or delete his profile#}
    {% if (app.user == personne) or (is_granted('ROLE_ADMIN')) %}
        <div class="edit-delete">
            <a href="{{ path('edit_personne', {'id': personne.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
            <a href="{{ path('delete_personne', {'id': personne.id}) }}" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash fa-lg"></i></a>
            <a href="{{ path('new_chien') }}">Add dog</a>
        </div>
    {% endif %}

    {#Person info#}
    <div>

            <img src="{{ asset('/images/users/' ~ personne.nomImageProfil) }}" alt="{{ personne ~ "'s profile picture" }}">

        <h2>{{personne.pseudo}}'s page</h2>
        <p>{{personne.description}}</p>
    </div>

    {#Person's dog(s)#}
    <div class="personne-chien">
        <h3>{{personne.pseudo}}'s dog(s)</h3>
        {% for chien in personne.chiens %}
            <div class="personne-chien">
                <img style="max-width: 200px;" src="{{ vich_uploader_asset(chien, 'imageFile') }}" alt="{{ "picture of " ~ chien ~ ", " ~ personne ~ "'s dog" }}">
                {{chien.nom}}
                {{chien.dateNaissance | date('d-m-Y')}}
                {{chien.description}}
                {#if user is dog owner, can edit/delete dog#}
                {% if app.user == chien.personne %}
                    <a href="{{ path('edit_chien', {'id': chien.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                    <a href="{{ path('delete_chien', {'id': chien.id}) }}" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash fa-lg"></i></a>
                {% endif %}
                
            </div>
        {% endfor %}
    </div>

    
    {#Sessions person is organising#}
    {% if personne.seancesOrganisees is not empty %}
    <div>
        <h3>sessions (as trainer)</h3>
        <table>
        {% for seance in personne.seancesOrganisees %}
            <tr>
                <td><a href="{{ path('show_seance', {'id': seance.id}) }}">{{ seance }}</a></td>
            </tr>  
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {#Walks person is organising#}
    {% if personne.baladesOrganisees is not empty %}
    <div>
        <h3>walks (as organiser)</h3>
        <table>
        {% for balade in personne.baladesOrganisees %}
            <tr>
                <td><a href="{{ path('show_balade', {'id': balade.id}) }}">{{ balade }}</a></td>
            </tr>  
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {#Sessions person is participitating#}
    {% if personne.seancesParticipees is not empty %}
    <div>
        <h3>sessions (as participant)</h3>
        <table>
        {% for seance in personne.seancesParticipees %}
            <tr>
                <td><a href="{{ path('show_seance', {'id': seance.id}) }}">{{ seance }}</a></td>
            </tr>  
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {#Walks person is participitating#}
    {% if personne.balades is not empty %}
    <div>
        <h3>walks (participant)</h3>
        <table>
        {% for balade in personne.balades %}
            <tr>
                <td><a href="{{ path('show_balade', {'id': balade.id}) }}">{{ balade }}</a></td>
            </tr>  
        {% endfor %}
        </table>
    </div>
    {% endif %}
    
    

{% endblock %}