{% extends 'base.html.twig' %}

{% block title %}Dog Project - Search Page{% endblock %}

{% block meta_description %}
    <meta name="description" content="Dog Project search page that lets user look for training sessions or walks by city or town">
    <meta name="keywords" content="dog project, dog, dog trainers near me, dog walks near me, dog owners community">
{% endblock %}

{% block body %}

    <div class="search-container">
        
        <div class="search-form-container">
          
            <h1>Search for dog walks and training sessions near you <i class="fa-solid fa-paw"></i></h1>
          
            <form method="post" class="search-form">

                {{ form_start(searchForm) }}

                    {{ form_label(searchForm.ville) }}
                    {{ form_widget(searchForm.ville) }}

                    {{ form_widget(searchForm.type) }}

                    {{ form_widget(searchForm.submit) }}

                {{ form_end(searchForm) }}
                
                
            </form>            

        </div>

        
    </div>

{% endblock %}
