<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/styles/app.css') }}"  />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        
        {% endblock %}
        
        {% if app.user %}
        <div class='navbar'>
            <ul>
                <li><a href="{{ path('app_categorie') }}">Forum</a></li>
                <li><a href="{{ path('new_balade') }}">New walk</a></li>
                {% if app.user.isEducateur %}        
                    <li><a href="{{ path('new_seance') }}">New session</a></li>
                {% endif %}
                <li><a href="{{ path('show_personne', {'id': app.user.id}) }}">Profile</a></li>  
                <li><a href="{{ path('app_logout') }}">Logout</a></li> 
            </ul>
        </div>
        {% endif %}

        





        {% block javascripts %}
            <script src="/scripts/app.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script>
                $(function() {
                    $('.select-breeds').select2();
                })
            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
