<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta_description %} {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/styles/app.css') }}"  />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
        
        {% endblock %}
        
        {% if app.user %}

        <div class="navbar">
            <ul>
                <li class="nav-home"><a href="{{ path('app_home') }}"><i class="fa-solid fa-paw fa-xl"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn"><i class="fa-solid fa-plus"></i></a>
                    <div class="dropdown-elements">
                        <a href="{{ path('new_balade') }}"><i class="fa-solid fa-shoe-prints"></i> +walk</a>
                        {% if app.user.isEducateur %}        
                            <a href="{{ path('new_seance') }}"><i class="fa-solid fa-graduation-cap"></i> +session</a>
                        {% endif %}
                    </div>
                </li>
                <li class="search">
                    <a href="{{ path('app_recherche') }}"><i class="fa-solid fa-magnifying-glass"></i> Find a walk or training session</a>
                </li>

                <li style="float:right"><a href="{{ path('app_logout') }}" onclick="return confirm('Êtes-vous sûr(e) de vouloir vous déconnecter?')"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                <li style="float:right"><a href="{{ path('show_personne', {'id': app.user.id}) }}"><i class="fa-solid fa-user"></i></a></li>
                <li class="nav-forum" style="float:right"><a href="{{ path('app_categorie') }}">FORUM</a></li>
                
            </ul>
        </div>
        {% endif %}

    

        {% block javascripts %}
            <script src="{{ asset('scripts/app.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script>
                $(function() {
                    $('.select-breeds').select2();
                })
            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
