<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta_description %} {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/styles/app.css') }}"  />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
        


     <script src="/tarteaucitron/tarteaucitron.js"></script>

     <script type="text/javascript">
     tarteaucitron.init({
     "privacyUrl": "http://127.0.0.1:8000/privacy_policy", /* Privacy policy url */
       "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

     "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
     "cookieName": "tarteaucitron", /* Cookie name */
 
     "orientation": "bottom", /* Banner position (top - bottom) */
    
       "groupServices": false, /* Group services by category */
       "showDetailsOnClick": true, /* Click to expand the description */
       "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                        
     "showAlertSmall": false, /* Show the small banner on bottom right */
     "cookieslist": false, /* Show the cookie list */
                        
       "closePopup": false, /* Show a close X on the banner */

       "showIcon": true, /* Show cookie icon to manage cookies */
       //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
       "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

     "adblocker": false, /* Show a Warning if an adblocker is detected */
                        
       "DenyAllCta" : false, /* Show the deny all button */
       "AcceptAllCta" : false, /* Show the accept all button when highPrivacy on */
       "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                        
     "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

     "removeCredit": false, /* Remove credit link */
     "moreInfoLink": true, /* Show more info link */

       "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
       "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
                       
       "readmoreLink": "", /* Change the default readmore link */

       "mandatory": true, /* Show a message about mandatory cookies */
       "mandatoryCta": true, /* Show the disabled accept button when mandatory on */
 
       //"customCloserId": "" /* Optional a11y: Custom element ID used to open the panel */
     });
     </script>


        {% endblock %}
        
        {% if app.user %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-light" id="navbar">
          <div class="container">
            <a href="{{ path('app_home') }}" id="navHome"><i class="fa-solid fa-paw fa-xl"></i> Walk&Train</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a href="{{ path('new_balade') }}"><i class="fa-solid fa-plus"></i> Create Walk</a>
                </li>
                {% if app.user.isEducateur %} 
                  <li class="nav-item">
                    <a href="{{ path('new_seance') }}"><i class="fa-solid fa-graduation-cap"></i> Create Training Session</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a href="{{ path('app_recherche') }}" ><i class="fa-solid fa-magnifying-glass"></i> Search </a>
                </li>
                {{ render(path('app_nav_dropdown')) }}
                <li class="nav-item">
                  <a href="{{ path('show_personne', {'id': app.user.id}) }}"><i class="fa-solid fa-user"></i> Profile</a>
                </li>
                <li class="nav-item">
                  <a href="{{ path('app_logout') }}"  onclick="return confirm('Do you really want to sign out ?')"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        {% endif %}

        {% block javascripts %}
            <script src="{{ asset('scripts/app.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        {% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100">
        {% block body %}{% endblock %}
        
        {% if app.user %}
 
          {{ render(path('app_footer')) }}
  
      {% endif %}

    
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</html>
