{% extends 'base.html.twig' %}

{% block title %}Topic Posts{% endblock %}

{% block body %}    
    <div>
        <h2>{{topic}}</h2>
    </div>

    <div class="posts">
        <h3>Posts</h3>
        <a href="{{ path('new_post', {'topic_id': topic.id}) }}">new post</a>
        {% for post in topic.posts %}
            <div class="topic-post">
                <td>
                    {% if post.auteur is empty %}
                        {{ 'deleted' }}
                    {% else %}
                        <a href="{{ path('show_personne', {'id': post.auteur.id}) }}">{{post.auteur}}</a>
                    {% endif %}
                    
                    {{post}}
                    {{post.dateCreation | date('d-m-Y H:i:s')}}
                    
                    {#if user is post auteur, can edit/delete post#}
                    {% if app.user == post.auteur %}
                        <a href="{{ path('edit_post',  {'topic_id': topic.id, 'id': post.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                        <a href="{{ path('delete_post', {'id': post.id}) }}" onclick="return confirm('delete post ?')"><i class="fa-solid fa-trash fa-lg"></i></a>
                    {% endif %}
                    
                </td>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}