{% extends 'base.html.twig' %}

{% block title %}Topic Posts - Forum - Dog Project{% endblock %}

{% block meta_description %}
    <meta name="description" content="Welcome to the Dog Project Forum, a community for all dog lovers to discuss anything related to man's best friend. This is the topic's page where you can read and add comments">
    <meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, forum">
{% endblock %}

{% block body %}

    <div class='category-head'>

        <h1>{{topic | upper }}</h1>
        {% if topic.auteur is empty %}
            <p>Topic created by a deleted user</a></p> 
        {% else %}
            <p>Topic created by <a href="{{ path('show_personne', {'id': topic.auteur.id}) }}" style=" color: black;" aria-label="{{ "go to " ~ topic.auteur ~ "'s profile page" }}">{{ topic.auteur }}</a></p>
        {% endif %}

        {% if app.user == topic.auteur %}
            <span class="topic-edit-delete">
                <a href="{{ path('edit_topic',  {'categorie_id': topic.categorie.id, 'id': topic.id}) }}" aria-label="edit topic title"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                <a href="{{ path('delete_topic', {'id': topic.id}) }}" onclick="return confirm('delete topic ?')" aria-label="delete topic"><i class="fa-solid fa-trash fa-lg"></i></a>
            </span>
        {% endif %}

        <a href="{{ path('show_categorie', {'id': topic.categorie.id}) }}" id="back-category-home" class="new-dog-button" aria-label="go back to category page">Back to {{topic.categorie}} Category Page</a>
        
    
    </div>
    
    <main class="category-main">
    <div class='category-left'>
    
        <h2>CATEGORIES</h2>
    
        {% for categorie in categories %}
            {% if (categorie.nom != 'Walks') and (categorie.nom != 'Sessions') %}
                <a href="{{ path('show_categorie', {'id': categorie.id}) }}">{{ categorie }}</a>
            {% endif %}
        {% endfor %}
    
    
    </div>
    
    <div class="category-right">
        {% if topic.posts is empty %}
            <h2 style="text-align: center;">NO COMMENTS YET, BE THE FIRST</h2>
        {% endif %}

        {% for post in topic.posts | sort((a, b) => a.dateCreation <=> b.dateCreation) %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row ">

                                    {# if post has no author (user deleted its account) #}
                                    {% if post.auteur is empty %}
                                        <div class="col-md-auto">
                                            <img class="topic-picture" src="{{ asset('/images/users/profile_picture_default.jpg') }}" alt="picture of a dog, default picture for deleted users">
                                        </div>
                                        <div class="ml-3 col"> {{'deleted'}}
                                    {% else %}
                                        <div class="col-md-auto">
                                            <a href="{{ path('show_personne', {'id': post.auteur.id}) }}" aria-label="{{ "go to " ~ post.auteur ~ "'s profile page" }}">
                                                <img class="topic-picture" src="{{ asset('/images/users/' ~ post.auteur.nomImageProfil) }}" alt="{{ post.auteur ~ "'s profile picture" }}">
                                            </a>
                                        </div>
                                        <div class="ml-3 col"> <p class="user-name">{{post.auteur}}</p>
                                    {% endif %}
                                        <div class="text-muted small">{{post.dateCreation | date('d-m-Y H:i:s')}}</div>
                                    </div>

                                    {% if post.auteur %}
                                        <div class="text-muted small ml-3 col text-end align-items-center">
                                            <div>Member since <strong>{{post.auteur.dateCreation | date('d/m/Y')}}</strong></div>
                                            <div><strong>134</strong> posts</div>
                                        </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <div class="card-body">
                                <p> {{post}} </p>
                            </div>
                            
                            {#if user is post auteur, can edit/delete post#}
                            {% if app.user == post.auteur %}
                                <div class="card-footer">
                                    <a href="{{ path('edit_post',  {'topic_id': topic.id, 'id': post.id}) }}" aria-label="edit post content"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="{{ path('delete_post', {'id': post.id}) }}" onclick="return confirm('delete post ?')" aria-label="delete post"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row ">
                                
                                    <div class="col-md-auto">
                                        <img class="topic-picture" src="{{ asset('/images/users/' ~ app.user.nomImageProfil) }}" alt="your profile picture">
                                    </div>
                                    <div class="ml-3 col"> <p class="user-name">{{app.user}}</p>
                                </div>

                                
                                    <div class="text-muted small ml-3 col text-end align-items-center">
                                        <div>Member since <strong>{{app.user.dateCreation | date('d/m/Y')}}</strong></div>
                                        <div><strong>134</strong> posts</div>
                                    </div>
                                
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" id="new-topic-form" class="topic-content">
                                {{ form_start(formAddPost) }}
                                    {{ form_widget(formAddPost.contenu, {'attr': {'placeholder': 'Type your comment here'}}) }}
                        </div>
                        <div class="card-footer">
                            {{ form_widget(formAddPost.submit, {
                                'label': 'comment'}) }}
                        {{ form_end(formAddPost) }}
                    </form>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    

{% endblock %}