{% extends 'base.html.twig' %}

{% block title %} {{topic}} - Forum - Walk&Train{% endblock %}

{% block meta_description %}
    <meta name="description" content="Welcome to the Dog Project Forum, a community for all dog lovers to discuss anything related to man's best friend. This is the topic's page where you can read and add comments">
    <meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, forum">
{% endblock %}

{% block body %}
        
    <main class="category-main">      

        
    <div class="category-right">
        <div class="container-fluid" id="topic-card">
            
                    <div class="card">
                        <div class="breadcrumbs">
                            <a href="{{ path('app_home') }}">Home</a> >> 
                            <a href="{{ path('app_categorie') }}">Forum</a> >>
                            <a href="{{ path('show_categorie', {'id': topic.categorie.id}) }}">{{topic.categorie}}</a> >>
                            
                        </div>
                        <div class="card-body">
                            <p id="topic-card-title"><b>{{ topic }}</b></p>
                        </div>
                        <div class="card-footer" id="topic-card-footer">
                            {% if topic.auteur is empty %}
                            <div class="col-md-auto">
                                <img class="topic-picture" id="topic-card-image" src="{{ asset('/images/users/profile_picture_default.jpg') }}" alt="picture of a dog, default picture for deleted users">
                            </div>
                            <div class="col" style="font-style:italic">by a deleted user</div> 
                            {% else %}
                            <a href="{{ path('show_personne', {'id': topic.auteur.id}) }}" aria-label="{{ "go to " ~ topic.auteur ~ "'s profile page" }}">
                                <img class="topic-picture" id="topic-card-image" src="{{ asset('/images/users/' ~ topic.auteur.nomImageProfil) }}" alt="{{ topic.auteur ~ "'s profile picture" }}">
                            </a>
                            <div class="ml-3 col">
                                <p class="topic-footer-info">by {{ topic.auteur }}</p>
                                <p class="topic-footer-info">{{ topic.dateCreation | date("F j, Y, g:i a") }}</p>
                            </div>
                            {% if app.user == topic.auteur %}
                                <span class="topic-edit-delete">
                                    <a onclick="myFunction()" aria-label="edit topic title"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="{{ path('delete_topic', {'id': topic.id}) }}" onclick="return confirm('delete topic ?')" aria-label="delete topic"><i class="fa-solid fa-trash"></i></a>
                                </span>
                            {% endif %}
                            {% endif %}
                        </div>                        
                    </div>
                
        </div>

            {# EDIT TOPIC DIV#}
            {% if app.user == topic.auteur %}
                
            
            <div class="container-fluid" id="edit-topic">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <p>Edit your topic's title </p>
                                <a onclick="myFunctionR()" class="exit-edit" aria-label="edit topic title"><i class="fa-solid fa-xmark"></i></a>
                            </div>
                            <div class="card-body">
                               
                                    {{ form_start(formAddTopic) }}
                                        {{ form_widget(formAddTopic.titre, {'attr': {'placeholder': "Your topic's title"}}) }}
            
                                        
                            </div>
                            <div class="card-footer">
                                {{ form_widget(formAddTopic.submit, {'label': 'edit'}) }}
                            {{ form_end(formAddTopic) }}  
                                
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}


        {% if topic.posts is empty %}
            <h4 style="text-align: center;">No comments yet</h4>
        {% endif %}

        {% for post in postsPaginate | sort((a, b) => a.dateCreation <=> b.dateCreation) %}
            <div class="container-fluid" id="post-{{post.id}}">
                
                    
                        <div class="card">
                            <div class="card-header">
                    
                                    {# if post has no author (user deleted its account) #}
                                    {% if post.auteur is empty %}
                                        <div class="col-md-auto">
                                            <img class="topic-picture" src="{{ asset('/images/users/profile_picture_default.jpg') }}" alt="picture of a dog, default picture for deleted users">
                                        </div>
                                        <div class="post-username-date">
                                        <div class="ml-3 col"> {{'deleted'}}</div>
                                    {% else %}
                                        <div class="col-md-auto">
                                            <a href="{{ path('show_personne', {'id': post.auteur.id}) }}" aria-label="{{ "go to " ~ post.auteur ~ "'s profile page" }}">
                                                <img class="topic-picture" src="{{ asset('/images/users/' ~ post.auteur.nomImageProfil) }}" alt="{{ post.auteur ~ "'s profile picture" }}">
                                            </a>
                                        </div>
                                        <div class="post-username-date">
                                        <div class="ml-3 col"> <p class="user-name">{{post.auteur}}</p></div>
                                    {% endif %}
                                        <div class="text-muted small">{{post.dateCreation | date('d-m-Y H:i:s')}}</div>
                                        </div> {#end of post-username-date div#}

                                    

                                    {% if post.auteur %}
                                        <div class="text-muted small ml-3 col text-end ">
                                            <div>Member since <strong>{{post.auteur.dateCreation | date('d/m/Y')}}</strong></div>
                                            <div><strong>{{ nbPostsTotalAuteur[post.id] }}</strong> post(s)</div>
                                        </div>
                                    {% endif %}
                                    
                                
                            </div>
                            <div class="card-body">
                                <p> {{post}} </p>
                            </div>
                            
                            {#if user is post auteur, can edit/delete post#}
                            {% if app.user == post.auteur %}
                                <div class="card-footer">
                                    <span class="topic-edit-delete">
                                        <a onclick="togglePostForm({{post.id}})" aria-label="edit topic title"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="{{ path('delete_post', {'id': post.id}) }}" onclick="return confirm('delete post ?')" aria-label="delete post"><i class="fa-solid fa-trash"></i></a>
                                    </span>
                                </div>
                            {% endif %}
                            
                        </div>
                    </div>
                
            

            {% if app.user == post.auteur %}
                
            <div class="container-fluid"  id="edit-post-{{post.id}}" style="display : none">

                
                    <div class="card">
                        <div class="card-header">
                            <p>Edit your comment </p>
                            <a onclick="togglePostFormR({{post.id}})" class="exit-edit" aria-label="edit topic title"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                        <div class="card-body">
                            
                                {{ form_start(postForms[post.id]) }}
                                    {{ form_widget(postForms[post.id].contenu, {'attr': {'placeholder': "Your comment"}}) }}
                                    
                        </div>
                        <div class="card-footer">
                            {{ form_widget(postForms[post.id].submit, {'label': 'edit'}) }}
                        {{ form_end(postForms[post.id]) }}
                        </div>                        
                    </div>
            </div>
            {% endif %}


        {% endfor %}
        {{ knp_pagination_render(postsPaginate) }}

        <div class="container-fluid">
            
                
                    <div class="card">
                        <div class="card-header">      
                                    <div class="col-md-auto">
                                        <img class="topic-picture" src="{{ asset('/images/users/' ~ app.user.nomImageProfil) }}" alt="your profile picture">
                                    </div>
                                    <div class="post-username-date"><p class="user-name">{{app.user}}</p></div>
                                    

                                
                                    <div class="text-muted small col text-end">
                                        <div>Member since <strong>{{app.user.dateCreation | date('d/m/Y')}}</strong></div>
                                    </div>
                        </div>
                        <div class="card-body">
                            <form method="post" class="topic-content">
                                {{ form_start(formAddPost) }}
                                    {{ form_widget(formAddPost.contenu, {'attr': {'placeholder': 'Type your comment here'}}) }}
                        </div>
                        <div class="card-footer">
                            {{ form_widget(formAddPost.submit, {'label': 'comment'}) }}
                        {{ form_end(formAddPost) }}
                    </form>
                        </div>                        
                    </div>
                
            
        </div>
        </div>
    </main>
    
    <script>
        function myFunction() {
          var x = document.getElementById("topic-card");
          var y = document.getElementById("edit-topic");
            x.style.display = "none";
            y.style.display = "block";
        }

        function myFunctionR() {
            var x = document.getElementById("topic-card");
            var y = document.getElementById("edit-topic");
            x.style.display = "block";
            y.style.display = "none";
        }

        function togglePostForm(postId) {
            var form = document.getElementById("edit-post-" + postId);
            var post = document.getElementById("post-" + postId);
            form.style.display = "block";
            post.style.display = "none";
        }

        function togglePostFormR(postId) {
            var form = document.getElementById("edit-post-" + postId);
            var post = document.getElementById("post-" + postId);
            form.style.display = "none";
            post.style.display = "block";
        }
        </script>
{% endblock %}