{% extends 'base.html.twig' %}

{% block title %}CategoryList{% endblock %}

{% block body %}


<div class='category-head'>

    <h1>WELCOME TO THE FORUM</h1>
    <p>Welcome, if you cannot find what you are looking for, make your own post!</p>

</div>

<main>
<div class='category-left'>

    <h2>CATEGORIES</h2>

    {% for categorie in categories %}
        {% if (categorie.nom != 'Walks') and (categorie.nom != 'Sessions') %}
            <a href="{{ path('show_categorie', {'id': categorie.id}) }}">{{ categorie }}</a>
        {% endif %}
    {% endfor %}


</div>

<div class="category-right">
    <h2>LATEST TOPICS</h2>
    <table>
    {% for topic in latestTopics %}
    <tr>
        {% if topic.auteur is empty %}
            <td>
                {{ 'deleted' }}
                {{topic.dateCreation | date('d-m-Y H:i:s')}}
            </td>
        {% else %}
            <td>
                <a href="{{ path('show_personne', {'id': topic.auteur.id}) }}">{{topic.auteur}}</a>
                {{topic.dateCreation | date('d-m-Y H:i:s')}}
            </td>
        {% endif %}
        <td><a href="{{ path('show_topic', {'id': topic.id}) }}">{{topic}} </a></td>

        
        {#if user is topic auteur, can edit/delete topic#}
        {% if app.user == topic.auteur %}
            <td>
                <a href="{{ path('edit_topic',  {'categorie_id': topic.categorie.id, 'id': topic.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                <a href="{{ path('delete_topic', {'id': topic.id}) }}" onclick="return confirm('delete topic ?')"><i class="fa-solid fa-trash fa-lg"></i></a>
            </td>
        {% endif %} 
    </tr>
    {% endfor %}
    </table>
</div>
</main>
{% endblock %}
