{% extends 'base.html.twig' %}

{% block title %}Forum Homepage - Walk&Train{% endblock %}

{% block meta_description %}
<meta name="description" content="Welcome to Walk&Train's Forum, a community for all dog lovers to discuss anything related to man's best friend">
<meta name="keywords" content="walk&train, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, forum">
{% endblock %}

{% block body %}


<main class="category-home">

    <div class="forum-card">
        <h3>Welcome to Walk&Train's Forum</h3>
        <div class="forum-card-content">
            <div class="forum-card-paw"><img src="{{ asset('/images/chiens/dog-paw.png') }}" id="paw" class="img-thumbnail img-fluid" alt="{{ "dog's paw drawing" }}" style="max-height: 225px;"></div>
            <div class="forum-card-text">
                <p>Walk&Train's Forum is a community where you can discuss, debate and ask questions about anything related to man's best friend.</p>
                <p>Everyone is welcomed. Whether you are an experienced dog trainer or recent dog owner.</p>
                <p>There are many topics that you can discover and participate in. You can also create your own if you cannot find what you are looking for.</p>
                <p>We hope you will have a nice time on our site.</p>
            </div>
        </div>
    </div>

    <h5 id="home-topic-topic" class="topic-topic">Latest Topics</h5>
    {% for topic in latestTopics | sort((a, b) => b.dateCreation <=> a.dateCreation) %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-left: 7px;">
                    
                    <div class="card-body">
                        <div class="topic-content">
                        <div class="topic-info">
                            <a href="{{ path('show_topic', {'id': topic.id}) }}" aria-label="go to topic's page"><p>{{topic}}</p></a>
                            {% if topic.auteur is empty %}
                                by deleted user in {{topic.categorie}}
                            {% else %}
                            by<a href="{{ path('show_personne', {'id': topic.auteur.id}) }}" aria-label="{{ "go to " ~ topic.auteur ~ "'s profile page" }}">
                                     {{topic.auteur}}</a> in {{topic.categorie}}
                            {% endif %}
                        </div>
                        <div class="topic-posts">
                            {{ nbPostsParTopic[topic.id] }} post(s)
                        </div>

                        <div class="topic-last-post">
                            <div>
                            {% set lastPost = lastPostParTopic[topic.id] %}
                            
                            {% if lastPost is empty %}
                                
                            {% else %}
                            {% set latestPost = lastPost[0] %}
                                <p class="text-muted small">Last post by {{ latestPost.auteur }}</p>
                                <div class="category-center">
                                    <a href="{{ path('show_personne', {'id': latestPost.auteur.id}) }}" aria-label="{{ "go to " ~ latestPost.auteur ~ "'s profile page" }}">
                                        <img class="topic-picture" src="{{ asset('/images/users/' ~ latestPost.auteur.nomImageProfil) }}" alt="{{ latestPost.auteur ~ "'s profile picture" }}">
                                    </a>
                                </div>                                                    
                                <p class="text-muted small">{{latestPost.dateCreation | date('d-m-Y H:i:s')}}</p>

                            {% endif %}
                        </div>
                    </div>
                </div>
                </div>
                                      
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
