{% extends 'base.html.twig' %}

{% block title %}Category Topics{% endblock %}

{% block body %}    
    <div>
        <h2>{{categorie}}</h2>
    </div>

    <div class="topics">
        <h3>Topics</h3>
        <a href="{{ path('new_topic', {'categorie_id': categorie.id}) }}">new topic</a>
        {% for topic in categorie.topics %}
            <div class="categorie-topic">
                <td>
                    {{topic.auteur}}
                    <a href="{{ path('show_topic', {'id': topic.id}) }}">{{topic}} {{topic.dateCreation | date('d-m-Y H:i:s')}}</a>
                    <a href="{{ path('edit_topic',  {'categorie_id': categorie.id, 'id': topic.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                    <a href="{{ path('delete_topic', {'id': topic.id}) }}" onclick="return confirm('delete topic ?')"><i class="fa-solid fa-trash fa-lg"></i></a>
                </td>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}