{% extends 'base.html.twig' %}

{% block title %}{{categorie}} Topics - Forum - Dog Project{% endblock %}
{% block meta_description %}
    <meta name="description" content="Welcome to the Dog Project Forum, a community for all dog lovers to discuss anything related to man's best friend. This is the "{{categorie}}" category">
    <meta name="keywords" content="dog project, dog, dog trainers near me, local dog trainers, dog walks near me, dog owners community, forum">
{% endblock %}

{% block body %}   
    <div class='category-head'>

        <h1>{{categorie |upper }} CATEGORY</h1>
        <p>Welcome, if you cannot find what you are looking for, make your own topic!</p>
        <a href="{{ path('app_categorie')}}" id="back-category-home" class="new-dog-button" aria-label="go back to category page">Back to Forum Home Page</a>
    
    </div>
    
    <main class="category-main">
    <div class='category-left'>
    
        <h2>CATEGORIES</h2>
    
        {% for categorie in categories %}
            {% if (categorie.nom != 'Walks') and (categorie.nom != 'Sessions') %}
                <a href="{{ path('show_categorie', {'id': categorie.id}) }}" aria-label="{{ "go to " ~ categorie ~ "'s topics" }}">{{ categorie }}</a>
            {% endif %}
        {% endfor %}
    
    
    </div>
    
    <div class="category-right">

        {% if categorie.topics is empty %}
            <h2 style="text-align: center;">NO TOPICS YET, BE THE FIRST</h2>
        {% else %}
        <h2 style="text-align: center;">LATEST TOPICS</h2>
    
        {% for topic in categorie.topics | sort((a, b) => b.dateCreation <=> a.dateCreation) %}
            <div class="topic">
    
                <div class="topic-date">
                    {{topic.dateCreation | date('d-m-Y H:i:s')}}
                    <a href="{{ path('show_topic', {'id': topic.id}) }}" aria-label="go to topic's page">see comments >></a>
                </div>
    
                <div class="topic-body">
                    {% if topic.auteur is empty %}
                        <div class="topic-user">
                            <img class="topic-picture" src="{{ asset('/images/users/profile_picture_default.jpg') }}" alt="picture of a dog, default picture for deleted users">
                            {{ 'deleted' }}
                        </div>    
                    {% else %}
                        <div class="topic-user">
                            <a href="{{ path('show_personne', {'id': topic.auteur.id}) }}" aria-label="{{ "go to " ~ topic.auteur ~ "'s profile page" }}">
                                <img class="topic-picture" src="{{ asset('/images/users/' ~ topic.auteur.nomImageProfil) }}" alt="{{ topic.auteur ~ "'s profile picture" }}">
                            </a>
                            <a href="{{ path('show_personne', {'id': topic.auteur.id}) }}" aria-label="{{ "go to " ~ topic.auteur ~ "'s profile page" }}">
                                {{topic.auteur}}
                            </a>
                        </div>
                    {% endif %}
    
                    <div class="topic-content">
                        <p>{{topic}}</p>
                    </div>
    
                    <div class="topic-nb-posts" >
                        <p>{{ nbPostsParTopic[topic.id] }} post(s)</p>
                    </div>
    
                </div>
            </div>
        {% endfor %}
        {% endif %}
        <div class="topic">
            <div class="topic-date">
                <p></p>
            </div>   
            
            <div class="topic-body">         
                <div class="topic-user" id="topicUserForm">
                    <span><img class="topic-picture" src="{{ asset('/images/users/' ~ app.user.nomImageProfil) }}" alt="your profile picture"></span>
                    <span>{{app.user}}</span> 
                </div>
    
                <form method="post" id="new-post-form" class="topic-content">
                    {{ form_start(formAddTopic) }}
                        {{ form_widget(formAddTopic.titre, {'attr': {'placeholder': 'Topic Title'}}) }}
                        {{ form_widget(formAddTopic.submit) }}
                    {{ form_end(formAddTopic) }}
                </form>
            </div>
        </div>
    
        </div>
    </main>
    

{% endblock %}